version: "3.7"

services:
  server:
    build: .
    volumes:
      - ./:/usr/src/app
      - bundle_cache:/bundle_cache
    environment:
      HOST: "0.0.0.0"
      PORT: 1234
      BUNDLE_PATH: /bundle_cache
      GEM_HOME: /bundle_cache
      GEM_PATH: /bundle_cache
    ports:
      - "1234:1234"

  bundle_cache:
    image: busybox
    volumes:
      - bundle_cache:/bundle_cache

volumes:
  bundle_cache:
  public:
